.container {
  position: sticky;
  background: red;
  width: 100%;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 120px auto auto;
  grid-gap: 5px blue;
}
