body {
  background: #fff5d7;
  font-family: "Abel";
  width: 100%;
  height: 100%;
  text-align: center;
}
.container {
  background: red;
  width: 900px;
  margin: auto;
  height: 800px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 150px 400px 200px;
  grid-gap: 10px;
}

.item header {
  background: crimson;
}

.item content {
}

img {
  height: 100%;
  width: 100%;
  border-radius: 207px;
}
.title {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 70px;
  left: 0px;
  top: 0px;
  padding: 10px;
  color: transparent;
  background-image: url("../pics/truck.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-background-clip: text;
}
blockquote {
  background: beige;
  width: 300px;
  height: 130px;
}
p {
  font-style: italic;
}

/**SCREENS 899PX OR More*/
@media screen and (min-width: 899px) {
  .container {
    width: 900px;
  }
}
/**Medium Screen less than 899px*/
@media screen and (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/**Samll Screen sizes less than 350px*/
@media screen and (max-width: 350px) {
  .container {
    width: 500px;
  }
}
p {
  text-decoration: underline;
}

.navbar {
  /* overflow: hidden; */
  background-color: #333;
  height: 155px;
  width: 900px;
}

#blogsLink {
  width: 70px;
  height: 40px;
  background: peachpuff;
  margin: auto 10px;
}
attributedArt
