@import "./title.css";
@import "./grid.css";
@import "./image.css";

body {
  background: #fff5d7;
  font-family: "Abel";
  width: 100%;
  height: 100%;
  text-align: center;
}

.item header {
  position: absolute;
  width: 100%;
}

.item content {
  position: absolute;
  width: 100%;
}
.item navbar {
  height: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-style: italic;
}

/**SCREENS 899PX OR More*/
@media screen and (min-width: 899px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 85px;
  }
  .item header,
  .item content,
  .item navbar {
    width: 100%;
  }
}
/**Medium Screen less than 899px*/
@media screen and (max-width: 899px) {
  .container {
    width: 66%;
  }
  .title {
    font-size: 50px;
  }
  .header,
  .content,
  .navbar {
    width: 100%;
  }
  #blogsLink {
    width: 33%;
  }
  #attributedArt {
    width: 67%;
    overflow: scroll;
  }
  p {
    font-size: 6px;
  }
}
/**Samll Screen sizes less than 350px*/
@media screen and (max-width: 508px) {
  .container {
    width: 52%;
  }
  .title {
    font-size: 24px;
  }
  .header,
  .content,
  .navbar {
    width: 100%;
  }
  #blogsLink {
    width: 33%;
  }
  #attributedArt {
    width: 67%;
  }
  p {
    font-size: 4px;
  }
}

@media screen and (min-width: 320px) {
  .container {
    width: 33%;
    grid-auto-columns: auto;
    grid-template-rows: auto;
  }
  .title {
    font-size: 18px;
  }
  .header,
  .content,
  .navbar {
    width: 100%;
  }
  #blogsLink {
    width: 33%;
  }
  #attributedArt {
    width: 67%;
  }
  p {
    font-size: 4px;
  }
}
p {
  text-decoration: underline;
  font-size: 10px;
}

#blogsLink {
  left: 0;
  float: left;
  top: 0;
  width: 33%;
  height: 120px;
  background: peachpuff;
  background: green;
}
#blogPage {
  /* align-items: center; */

  color: white;
}

#blogPage:hover {
  color: black;
}

#blogPage:active {
  color: white;
}
#attributedArt {
  left: 0;
  float: left;
  top: 0;
  color: #fff;
  height: 120px;
  width: 67%;
  background: slategray;
}
