@import "./title.css";
@import "./grid.css";
@import "./image.css";

body {
  background: #fff5d7;
  font-family: "Abel";
  width: 100%;
  height: 100%;
  text-align: center;
}

.item header {
  position: absolute;
  top: 20px;
}

.item content {
  position: absolute;
}

p {
  font-style: italic;
}

/**SCREENS 899PX OR More*/
@media screen and (min-width: 899px) {
  .container {
    width: 100%;
  }
  .item header,
  .item content,
  .item navbar {
    width: 100%;
  }
}
/**Medium Screen less than 899px*/
@media screen and (max-width: 899px) {
  .container {
    width: 66%;
  }
  img {
    width: 50%;
  }
}
/**Samll Screen sizes less than 350px*/
@media screen and (max-width: 350px) {
  .container {
    width: 500px;
    height: 100%;
  }
  img {
    width: 30%;
  }
}
p {
  text-decoration: underline;
}

.navbar {
  /* overflow: hidden; */
  background-color: #333;
  height: 79px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#blogsLink {
  width: 70px;
  height: 79px;
  background: peachpuff;
  float: left;
  background: green;
}
#blogPage {
  position: absolute;
  left: 15px;
  top: 7px;
  color: white;
}

#blogPage:hover {
  color: black;
}

#blogPage:active {
  color: white;
}
#attributedArt {
  left: 0;
  float: left;
  top: 0;
  color: #fff;
  height: 79px;

  background: slategray;
}
